<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <div class="newchats">
    <h2>Write new chat....</h2>
    <form method="post" action="/chats">
     Name: <input type="text"placeholder="enter your name" name= "from" ><br><br>
     Message:<br><textarea  placeholder="Write your Message"name="msg"></textarea><br><br>
    Name: <input type="text" placeholder="whom to send" name= "to"><br><br>
    
        <button>Submit</button>
    </form>
</div>
</body>
</html>